/* Reset some default styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
}

.btn{
  padding: 10px;
  margin-top: 50px;
  position: absolute;
  background-color: rgb(62, 166, 214);
  box-shadow: #1f1d1d;
  border-radius: 10px;
  behavior: calc(Responsive);
  
}
.btn:hover{
  background-color: #7ea1d3;
  font-weight: bold;
  text-shadow:3px  #1f1d1d;
}


.nav{
  display: flex;
  justify-content: center;
  padding-right: 10px;
  list-style: none;
}

/* Global Styles */
body {
  background-color: #a16767;
  color: #1a1313;
}

.container {
  max-width: 2200px;
  margin: 0 auto;
  overflow: hidden;
  border-image: auto;
}

/* Header Styles */
body {
  background: linear-gradient(rgba(8, 22, 219, 0.5), rgba(105, 110, 165, 0.5)), url('assets/unsplash.jpg') center/cover no-repeat fixed;
}

/* Contact Section Styles */
.contact {
  padding: 90px 0;
  animation-duration: 1.2s;
}

.content {
  text-align: center;
  text-transform: none;
  text-decoration: solid;
}

h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #0766ad;
  text-decoration: underline;
  text-transform: uppercase;
}

p {
  font-size: 20px;
  color: #554a4a;
}

/* Contact Info Styles */
.contactinfo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 1.0px;
}

.box {
  flex-basis: calc(35.3663% - 20px);
  background: #c4c4cc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(150, 41, 41, 0.1);
  border: 10px;
  transition: transform 1.3s ease-in-out;
  margin: 10px;
  justify-content: inherit;
  max-width: 200px;
  
}

.brand,.nav{
  align-items: flex-end;
  justify-content: space-between;

}


.brand {
  display: flex;
  align-items: center;
  padding-left: 20px;

}
.logo{
  margin-top: 10px;
  padding-top: 0px;
  font-weight: 800;
}

.nav {
  display: flex-end;
  justify-items: flex-end;
  list-style: none;
  padding-right: 16px;
}

.nav .nav-item {
  padding-left: 16px;
}


.box:hover {
  transform: translateY(-10px);
}

.icon {
  width: 40px;
  height: 40px;
  background: #c7a7a7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #312929;
  font-size: 24px;
}

.text h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
  text-decoration-line: underline;
  display: block;
  
}

.text p {
  font-size: 16px;
  color: #3a3434;
}

/* Contact Form Styles */
.contactform {
  margin-top: 30px;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

form h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
  text-decoration: underline;
  text-size-adjust: 24;
  margin: 15px;
}

.inputbox {
  position: relative;
  width: calc(50% - 36px);
  margin-bottom: 25px;
}

input, textarea {
  width: 100%;
  margin: 20px;
  padding: 10px;
  font-size: 26px;
  margin-bottom: 5px;
  border: black;
  border-bottom: 2px solid #5c0a0a;
  outline: rgb(184, 22, 22);
  background: border-box;
}

span {
  position: absolute;
  left: 0;
  padding: 10px;
  font-size: 16px;
  color: #333;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ span, textarea:focus ~ span, input:valid ~ span, textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  color: #e8491d;
  padding: 15px;
  border-radius: 1rem;
  box-shadow: #333;
  text-decoration-line: overline;
}

input[type="submit"] {
  width: auto;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background: #e8491d;
  border: black;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #665656;
}
